@import '../../../styles/layout.css';

#main-container {
    display: flex;
    justify-content: center;
    height: calc(100dvh - var(--header-height));
    width: 100%;
    position: relative;
    z-index: 1;
    overflow-y: auto;
    overflow-x: hidden;
    scroll-behavior: smooth;
}