@import '../../../styles/layout.css';

#main-container {
    display: flex;
    justify-content: center;
    height: calc(100dvh - var(--header-height));
    width: 100%;
    position: relative;
    z-index: 1;
    overflow-y: auto;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

@media screen and (min-width: 769px) {
    .wrapper {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-areas: "controls plugs plugs"
            "controls plugs plugs";
    }

    aside {
        grid-area: controls;
    }

    section {
        grid-area: plugs;
    }
}

@media screen and (min-width: 992px) {
    .wrapper {
        grid-template-columns: 25% auto;
        grid-template-areas: "controls plugs plugs plugs"
            "controls plugs plugs plugs";
    }
}