.modal.fade .modal-dialog {
    transform: scale(0.8);
    transition: transform 0.1s ease-out;
}

.modal.fade.show .modal-dialog {
    transform: scale(1);
}

.adding-title {
    width: 25%;
    display: flex;
    justify-content: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.adding-input {
    width: 75%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#adding-company-title,
#adding-type-title {
    width: 90%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.type-or-comp-list {
    width: 75%;
    max-height: 10rem;
    overflow-y: scroll;
}

#image-area {
    text-align: center;
    height: 10rem;
}

#image-area-body {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    background-color: #e0e0e0;
}

#spinner-for-image {
    transform: scale(12);
}

#new-plug-img {
    width: 100%;
}