.account-center-aside-list {
    gap: 1em;
    height: 100%;
    margin-bottom: 1em;
}

.list-group-item {
    cursor: pointer;
}

.active {
    box-shadow: 0px 0px 2px #6c757d;
    transition: box-shadow 0.1s ease-in-out;
}

#admin-button-container {
    width: 100%;
    margin-bottom: 3%;
}

.admin-button {
    margin-bottom: 1em;
}