#account-center-aside-list-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
}

.account-center-aside-list {
    gap: 1em;
    margin-bottom: 1em;
}

.active {
    box-shadow: 0px 0px 2px #6c757d;
    transition: box-shadow 0.1s ease-in-out;
}

#admin-button-container {
    width: 100%;
    margin-bottom: 3%;
}