.account-sections {
    width: 100%;
    display: flex;
    flex-direction: column;
}

#view-account,
#edit-account,
#delete-account {
    flex: 1;
    display: flex;
    flex-direction: column;
}

#delete-account-button {
    width: 100%;
}

.header-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.header-name {
    width: fit-content;
    margin: 0;
}

.header-line {
    width: 70%;
}

.content-section {
    flex: 1;
    width: 80%;
    align-self: end;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.edit-input {
    width: 100%;
    border-radius: 0;
    margin-bottom: 0.25em;
}

.edit-input:first-child {
    border-top-right-radius: 0.25em;
    border-top-left-radius: 0.25em;
}

.edit-input:last-child {
    border-bottom-right-radius: 0.25em;
    border-bottom-left-radius: 0.25em;
}

.edit-button {
    width: 100%;
}

@media screen and (min-width: 768px) {
    .account-sections {
        margin-left: 5%;
        margin-right: 5%;
    }

    .header-line {
        width: 80%;
    }

    .edit-button-container {
        width: 30%;
        align-self: end;
        margin-top: 0.25em;
    }
}