@import '../../../../styles/themes.css';

.initials-header {
    text-decoration: none;
    color: inherit;
    display: block;
    position: sticky;
    top: 0;
    background-color: var(--light-bg-color-2);
    z-index: 1;
    padding-left: 0.5rem;
}