.initials-header {
    text-decoration: none;
    color: inherit;
    display: block;
    position: sticky;
    top: 0;
    background-color: var(--bg-color-3);
    color: var(--color-1);
    z-index: 1;
    padding-left: 0.5rem;
}