#scroller-container {
    position: relative;
}

#scroller {
    position: fixed;
    left: calc(50% - 20px);
    bottom: -54px;
    color: #6c757d;
    background: rgba(219, 219, 219, 0.7);
    border-radius: 100%;
    cursor: pointer;
    transition: bottom 0.2s ease-in;
}

#scroller:active {
    color: #b6b8b9;
}