@import '../../styles/layout.css';

aside {
    padding: 5% 5% 1% 5%;
    height: calc(100dvh - var(--header-height));
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-right: 1px solid var(--light-bg-color-1);
    background-color: var(--light-bg-color-4);
    overflow-y: auto;
}

.aside-controls {
    border-radius: 0.25em !important;
}

.aside-controls:hover {
    box-shadow: 0px 0px 2px #6c757d;
    transition: box-shadow 0.1s ease-in-out;
}

@media screen and (max-width: 768px) {
    aside {
        display: none;
    }
}