.offcanvas-body {
    padding: 3% 3% 1% 3%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-right: 1px solid var(--light-bg-color-1);
}

#big-screens-lower-aside {
    display: flex;
    justify-content: space-between;
}

#dropDownsContainer {
    display: flex;
    justify-content: center;
}

#dropDownsContainer>* {
    width: 50%;
}

#filter-and-layout-container-for-small-screens {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

@media screen and (min-width: 768px) {
    #small-screens-lower-aside {
        display: none;
    }
}

@media screen and (max-width: 768px) {
    #big-screens-lower-aside {
        display: none;
    }
}