@import '../styles/themes.css';

.authentication-form {
    display: flex;
    width: 100%;
    justify-content: center;
}

form {
    display: flex;
    width: 400px;
    padding: 1em;
}

.auth-card {
    align-self: center;
    background-color: inherit;
    width: 100%;
}

.card {
    border: 1px solid var(--bg-color-3);
}

.card-header {
    text-align: center;
    background-color: var(--bg-color-2);
    color: var(--color-2);
    border-bottom: 1px solid var(--bg-color-5);
}

.card-main {
    background-color: var(--bg-color-3);
}

.card-body {
    background-color: var(--bg-color-2);
    color: var(--color-2);
}

#forgot-password-announcement {
    text-align: center;
    padding-bottom: 1.5em;
}

#forgot-password-buttons {
    display: flex;
    width: 100%;
    justify-content: end;
}

h3 {
    margin-bottom: 0;
}

.form-floating {
    padding-bottom: 1.5em;
}

#auth-buttons {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

small {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

#forgot-password-element {
    justify-content: end;
}