.authentication-form {
    display: flex;
    width: 100%;
    justify-content: center;
}

form {
    display: flex;
    width: 400px;
    padding: 1em;
}

.auth-card {
    align-self: center;
    width: 100%;
}

.card-header {
    text-align: center;
}

h3 {
    margin-bottom: 0;
}

.form-floating {
    padding-bottom: 1.5em;
}

#auth-buttons {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

small {
    width: 100%;
    display: flex;
    justify-content: space-between;
}