.modal-content {
    color: var(--color-2);
    background-color: var(--bg-color-2);
}

.modal-header {
    border-bottom: 1px solid var(--bg-color-4);
}

.modal-footer {
    border-top: 1px solid var(--bg-color-4);
}

.modal.fade .modal-dialog {
    transform: scale(0.8);
    transition: transform 0.1s ease-out;
}

.modal.fade.show .modal-dialog {
    transform: scale(1);
}

.adding-title {
    width: 25%;
    display: flex;
    justify-content: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.adding-input {
    width: 75%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#adding-company-title,
#adding-type-title {
    width: 90%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.type-or-comp-list {
    width: 75%;
    max-height: 10rem;
    overflow-y: auto;
}

.modal-dropdown-item {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}

.modal-dropdown-item-content {
    white-space: nowrap;
    overflow-x: hidden;
    text-overflow: ellipsis;
}

#image-area {
    text-align: center;
    height: 10rem;
}

#image-area-body {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    background-color: var(--bg-color-4);
}

#spinner-for-image {
    transform: scale(12);
}

#new-plug-img {
    width: 100%;
}

.shake-text {
    animation: shake 0.4s ease-in-out;
}

@keyframes shake {
    0% {
        transform: translateX(0);
    }

    25% {
        transform: translateX(-5px);
    }

    50% {
        transform: translateX(5px);
    }

    75% {
        transform: translateX(-5px);
    }

    100% {
        transform: translateX(0);
    }
}