.list-item-container {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 1em;
    padding-bottom: 1em;
    overflow: auto;
}

.list-item {
    max-width: 80%;
    height: fit-content;
}

#plug-page-details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.upper-card-body {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.action-buttons {
    display: flex;
    height: fit-content;
    gap: 0.5em;
    margin-left: 1em;
}

@media screen and (max-width:576px) {
    .list-item {
        max-width: 98%;
    }
}