.plug-page-container {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 1em;
    padding-bottom: 1em;
    overflow: auto;
}

.list-item {
    max-width: 80%;
    height: fit-content;
}

.card-img-top {
    padding: 1em;
    border-radius: 1.2em;
}

@media screen and (max-width:576px) {
    .list-item {
        max-width: 98%;
    }
}