#items-container {
    width: 100%;
    height: 100%;
    margin: 0;

    /* for safari on iOS */
    z-index: -1;
}

.list-group-item.active {
    background-color: #e8e8e8 !important;
    border: 1px solid #e8e8e8 !important;
}

.list-group-item:last-child {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.list-group-item:first-child {
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}

#none-found-message {
    display: none;
    align-self: center;
    padding: 1em;
    text-align: center;
}