@import '../../../styles/themes.css';

#items-container {
    width: 100%;
    height: fit-content;
    margin: 0;

    /* for safari on iOS */
    z-index: -1;
}

.list-group-item.active {
    color: var(--color-4);
    background-color: var(--bg-color-4) !important;
    border: 1px solid var(--bg-color-4) !important;
}

.list-group-item:last-child {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.list-group-item:first-child {
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}

#none-found-message {
    display: none;
    align-self: center;
    padding: 1em;
    text-align: center;
}