#contributions-with-scroller-container {
    overflow-y: auto;
}

.activity-item {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    cursor: default;
}

.info-container-for-activity-page {
    display: flex;
    justify-content: end;
    align-items: center;
}