#contributions-with-scroller-container {
    overflow-y: auto;
}

.activity-item {
    cursor: default;
}

.activity-links {
    color: inherit;
    text-decoration: none;
}

.activity-item {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.time-container-for-activity-page {
    display: flex;
    width: 100%;
    justify-content: end;
    align-items: center;
}