@import '../../../styles/themes.css';

#scroller-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

#scroller {
    position: fixed;
    bottom: -54px;
    color: var(--color-2);
    background: var(--bg-color-4);
    opacity: 0.9;
    border-radius: 100%;
    cursor: pointer;
    transition: bottom 0.2s ease-in;
    z-index: 2;
}

#scroller:active {
    color: var(--bg-color-5);
}