#type-filter {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

.inner-button-text-type {
    display: block;
    width: 80px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: start;
}

.type-content {
    white-space: nowrap;
    overflow-x: hidden;
    text-overflow: ellipsis;
}