#footer-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #dbdbdb;
    position: relative;
    z-index: 1;
}

#privacy-policy-link {
    text-decoration: none;
    color: inherit;
}