@import './styles/themes.css';

/* For Firefox */
/* * {
    scrollbar-width: thin;
    scrollbar-color: #888 #f1f1f1;
} */

/* For WebKit browsers (Chrome, Safari) */
*::-webkit-scrollbar {
    width: 8px;
}

*::-webkit-scrollbar-thumb {
    background-color: var(--bg-color-5);
    border-radius: 10px;
}

*::-webkit-scrollbar-thumb:active {
    background-color: var(--bg-color-6);
}

*::-webkit-scrollbar-track {
    background-color: var(--bg-color-3);
}

#root {
    font-family: 'Courier New', Courier, monospace;
}

.form-control {
    color: var(--color-3) !important;
    background-color: var(--bg-color-3) !important;
    border: .5px solid var(--bg-color-5) !important;
}

.form-control:focus {
    box-shadow: 0 0 0 0.25rem var(--bg-color-3) !important;
}

.input-group-text {
    color: var(--color-3) !important;
    background-color: var(--bg-color-3) !important;
    border: .5px solid var(--bg-color-5) !important;
}

a:not(.watch-user) {
    color: var(--color-3) !important;
}

.dropdown-menu {
    box-shadow: 0 0 1rem var(--bg-color-8);
}

.undecorated-link {
    text-decoration: none;
    color: inherit;
}