.table-wrapper {
    padding: 1em;
    width: 100%;
    /* height: fit-content; */
    overflow: hidden;
}

#table-container {
    overflow-y: auto;
}

#admins-table {
    text-align: center;
    height: fit-content;
    margin-bottom: 0;
}

.users-tr {
    vertical-align: middle;
}

tbody {
    word-break: break-all;
}