@import '../../../styles/themes.css';

.toast-container {
    position: static;
}

.hidden-toast {
    display: none;
}

strong {
    margin-right: auto;
}

.toast {
    position: fixed;
    bottom: 0;
    margin-bottom: 2%;
    margin-right: 2%;
    transition: right 0.4s ease-in-out;
    box-shadow: 0 .5rem 1rem var(--bg-color-3);
    border: 1px solid var(--bg-color-4);

}

.toast-header {
    color: var(--color-2);
    background-color: var(--bg-color-2);
    border-bottom: 1px solid var(--bg-color-4);
}

.toast-body {
    color: var(--color-3);
    background-color: var(--bg-color-3);
}

.toast.slide-hide {
    right: -100%;
}

.toast.slide-show {
    right: 0;
}

@media screen and (max-width: 576px) {
    .toast {
        bottom: -100%;
        transition: bottom 0.4s ease-in-out;
    }

    .toast.slide-hide {
        bottom: -100%;
        right: calc(50% - 178px);
    }
    
    .toast.slide-show {
        width: 90%;
        bottom: 1em;
        right: calc(50% - 178px);
    }
}